<!-- views/partials/footer.ejs -->
<div class="foot">
  <p class="text-center text-muted">Theme <a href="https://bootswatch.com/readable/" target="_blank">Readable</a> on <a href="https://bootswatch.com/" target="_blank">Bootswatch</a></p>
  <!-- Can be modified -->
  <p class="text-center text-muted">Quincy Huang © 2016</p>
</div>
