<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>NYTimes API Search Tool</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/font-awesome-4.6.3/css/font-awesome.min.css">
<script src="/static/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .min-nav {padding-top: 10px; padding-bottom: 10px;}
  @media (min-width: 768px) {
    body {padding-top: 80px;}
    .foot {padding-top: 20px;}
  }
</style>
