<!-- views/partials/header.ejs -->


<div class="container visible-xs-block min-nav">
    <div class="navbar-header">
      <div class="btn-group">
        <a href="/" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>NYTimes Search</a>
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/read"><i class="fa fa-book" aria-hidden="true"></i>Article</a></li>
          <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
          <li><a href="/about"><i class="fa fa-info" aria-hidden="true"></i> About</a></li>
        </ul>
      </div>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-search" aria-hidden="true"></i>
                NYTimes Search
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="/read"><i class="fa fa-book" aria-hidden="true"></i>Article</a></li>
            <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
            <li><a href="/about"><i class="fa fa-info" aria-hidden="true"></i>About</a></li>
        </ul>

    </div>
</nav>
