<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
            <div class="alert alert-danger" role="alert">
                <h1>404 Error</h1>
                <h2>Sorry! What you request has not been found!</h2>
                <h2>Please recheck your request URL.</h2>
            </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
