<!-- views/pages/500.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
            <div class="alert alert-danger" role="alert">
                <h1>500 Error</h1>
                <h2>Sorry! We have experienced an internal error!</h2>
                <h2>Please try again later.</h2>
            </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
