<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <!-- Personal info can be modified here. -->
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h2>NYTimes Search Tool</h2>
                    <p><i>Thanks for using.</i></p>
                    <br>
                    <p>Quincy Huang</p>
                    <p><i class="fa fa-heart" aria-hidden="true"></i><a href="http://quinbox.cn/" target="_blank">Quinbox</a>: Personal Blog (mainly in Chinese)</p>
                    <p><i class="fa fa-heart" aria-hidden="true"></i><a href="http://quincyy.xyz" target="_blank">Quintoolbox</a>: Toolbox</p>
                    <p><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/QuincyHuang/" target="_blank">Twitter</a> <i class="fa fa-weibo" aria-hidden="true"></i> <a href="http://weibo.com/206733386" target="_blank">Weibo</a></p>
                    <br>
                    <h2>Tip</h2>
                    <p>If you can't access websites on the right (network issues), pleas visit <a href="http://quinbox.cn/" target="_blank">Quinbox</a> for help or use Quintoolbox <a href="http://quincyy.xyz/proxy/" target="_blank">Online Proxy</a>.</p>
                </div>

                <div class="well">
                  <h2>Development</h2>
                  <div class="well">
                    <h3>2016-08-07</h3>
                    <p><b>V1.1 Beta</b> Provide a proxied URL of old article PDF for Chinese users.</p>
                  </div>
                  <div class="well">
                    <h3>2016-08-06</h3>
                    <p><b>V1.0 Beta</b> Advanced Search & Interactive Article rendering are still under development.</p>
                  </div>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Links</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="http://www.nytimes.com/" target="_blank">The New York Times</a></li>
                        <li class="list-group-item"><a href="https://www.washingtonpost.com/" target="_blank">The Washington Post</a></li>
                        <li class="list-group-item"><a href="http://www.wsj.com/" target="_blank">The Wall Street Journal</a></li>
                        <li class="list-group-item"><a href="http://www.usatoday.com/" target="_blank">USA Today</a></li>
                        <li class="list-group-item"><a href="http://www.latimes.com/" target="_blank">Los Angeles Times</a></li>
                        <li class="list-group-item"><a href="http://www.nydailynews.com/" target="_blank">Daily News</a></li>
                        <li class="list-group-item"><a href="http://nypost.com/" target="_blank">New York Post</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
